body {
    background-image: url("../images/qbkls.png")
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}

header {
    width: 100%;
}

.main-head {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
  
}
.main-body {
    position: absolute;
    left: 50%;
    height: 600px;
   
}
 .game-start {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: ivory;
    border: 1px solid black;
    display: block;
    padding: 20px;
}

#question-1 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}
#question-2 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: green;
    border: 1px solid black;
    display: none;
}
#question-3 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: purple;
    border: 1px solid black;
    display: none;
}
#question-4 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}
#question-5 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}
#question-6 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}
#question-7 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}
#question-8 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}
#question-9 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}
#question-10 {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}

#game-oscar {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}

#game-flop {
    position: relative;
    top: 5%;
    left: -50%;
    width: 960px;
    height: 600px;
    background: pink;
    border: 1px solid black;
    display: none;
}


.box-head {
    margin-top: 25px;
}

#box-oscars {
    float: left;
}

#box-flops {
    float: right;
}
.box-screen {
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: auto;
}
.oscar-screen {
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: auto;
}

.oscar-screen img {
    width: 500px;
    height: auto;
}

.box-screen video {
    width: 500px;
    height: auto;
}

.box-question {
    margin: auto;
    width: 400px;
    height: auto;
    text-align: center;
    visibility: visible;
   
}
.box-timer {
    margin: auto;
    width: 400px;
    height: 18px;
    text-align: center;
    visibility: visible;
}

.box-answer {
    margin: auto;
    width: 400px;
    height: auto;
    text-align: center;
    visibility: visible;
    display: block;
    
    
}

.box-answer button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    

}



